@model KrcSoftWeb.Models.DataModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Slider Düzenle</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="/Admin/UpdateSliderItem/" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div hidden>
                    <input name="ID" value="@Model.guncellencekSliderItem.ID" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Slider Başlığı</label>
                    <input name="SliderTitle" type="text" class="form-control" id="exampleInputEmail1" value="@Model.guncellencekSliderItem.SliderTitle" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">İçerik</label>
                    <input name="SliderDescription" type="text" class="form-control" id="exampleInputEmail1" value="@Model.guncellencekSliderItem.SliderDescription" required>
                </div>
                <div class="form-group">
                    <img src="@Model.guncellencekSliderItem.SliderImage" id="uploadPreview" style="width:240px;height:135px;" />
                    <p>Resim Seçiniz</p>
                    <input id="uploadImage" type="file" name="SliderImage" onchange="PreviewImage();"/>
                </div>
                <div class="form-group">
                    <a href="#">@ViewBag.Mesaj</a>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>

